*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif; ;
}

a{
    text-decoration: none;
}


.navbar-brand{
    width: 5%;
}

h2{
    font-size: 30px;
    color: rgba(11, 10, 10, 0.703);
    font-weight: bold;
    letter-spacing: 1px;
}

body{
    width: 100%;
    background-image: url("/Imagenes/fondo-de-pantalla2.png");
    background-repeat:no repeat;
    background-size:cover;
    background-position: center;
}

h5{
    opacity: 0.7;
    font-size: 40px;
    color:whitesmoke;
}

h4{
    font-size:20px ;
    color:whitesmoke;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}

h3{
    font-size: 15px;
    font-weight:bold;
}



.carousel-inner{ /*contenedor principal*/
    width: 100%;
    height: 60vh;
    border-radius: 2px;
    box-shadow: 0 0 10px grey;
    margin-top: 5px;    
}

.carousel-item{ /*contenedor de las imagenes*/
    width: 100%;
    height: 60vh;
}




.carousel-inner .carousel-item img{
    flex: 0 0 100%;
    transition: all 300ms;
    width: 100%;
    height: 60vh;
}

.carousel-inner .carousel-item img:hover{
    transform: scale(1.12);
}

.carousel-caption{
    display: flex;
    flex-direction: column;
}

p{
    text-shadow: 2px 2px 5px black;
    font-size: 15px;
    padding: 5px 5px;
}

.parteAbajo{
    height: 40vh;
    margin : auto 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}

i{
    color: green;
    font-size: 20px;
}

/*CATEGORIAS*/

/*Botones*/


.boton-principal-alt{
    display: flex;
    margin-top: 8px;
    padding: 7px 16px;
    font-size: 1.2rem;
    font-weight: bold;
    color:#fff;
    cursor: pointer;
    line-height: 16px;
    background-color: unset;
    border: 0.1rem solid #fff;
    border-radius: 0.3rem;
    text-shadow: 2px 2px 2px #000000;
}

.categorias{
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.categorias div {
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.categorias div > * {
    z-index: 1;
    
}

.categorias div:nth-child(1) {
    background:url("Imagenes/fondo-de-pantalla.jpg") 50% 50%/cover no-repeat;
}

.categorias div:nth-child(2) {
    background: url("/Imagenes/plisado.png") 50% 50%/cover no-repeat;
}

.categorias div:nth-child(3) {
    background: url("/Imagenes/tres-pliegues.png") 50% 50%/cover no-repeat;
}

.categorias div:nth-child(4) {
    background: url("Imagenes/TELAS/voiledelino/voile-de-lino-gris.jpeg") 50% 50%/cover no-repeat;
}

.categorias div:nth-child(5) {
    background: url("Imagenes/TELAS/blackout/blackout-athenas.jpeg") 50% 50%/cover no-repeat;
}

.categorias div:nth-child(6) {
    background: url("Imagenes/cortina-tablas-chatas.png") 50% 50%/cover no-repeat;
}

.categorias div::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.categorias div:hover::after {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}


/*MEDIAS QUERIES*/

@media screen and (min-width: 768px){
    .categorias{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr)
    }
    .categorias div:nth-child(1) {
        -ms-grid-row-span: 4;
        grid-row: span 4;
    }
    .categorias div:nth-child(2) {
        -ms-grid-row-span: 2;
        grid-row: span 2;
    }
    .categorias div:nth-child(4) {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3/4;
        -ms-grid-row-span: 3;
        grid-row: span 3;
    }
    .categorias div:nth-child(5) {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3/4;
    }
}