
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lato', sans-serif;
}


body{
    width: 100%;
    color:#030304;
}

/*ENLACES*/

a{
    text-decoration: none;
}

/*BARRA DE NAVEGACIÓN*/

.navbar{
    width: 100%;
    
}

.navbar-brand{
    width: 4rem;
}

.navbar-nav .nav-item .nav-link{
    color:#030304
}

/*TITULOS Y PÁRRAFOS*/

h2{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #030304;
}

h3{
    font-size: 15px;
    font-weight:bold;

}

h4{
    font-size:25px;
    color: #030304;
    font-weight: bolder;
    text-shadow: 1px 2px 3px whitesmoke;

}

h5{
    opacity: 0.7;
    font-size: 15px;
    color:whitesmoke;
}


.carousel-caption p{
    font-size: 18px;
    color:#030304;
    font-weight:bolder;
    margin: 5px 10px;
    padding: 5px 10px;
    text-shadow: 2px 2px 2px whitesmoke;
}


.container{
    max-width: 1000px;
}


.fotoTeam{ /*imagenes*/
    flex: 0 0 100%;
    width: 100%;
    height: 40vh;
    object-fit: cover;
}







.mainNosotros{
    background-image: url("Imagenes/fondo-de-pantalla2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}

.texto-nosotros{
    font-size: 18px;
    margin: 30px 20px;
    padding: 20px 20px;
    text-shadow: 1px 1px 1px #6aa577 ;
}
/*CAROUSEL*/

.carousel{
    display: flex;
    justify-content: center;
}

.carousel-inner{ /*contenedor principal*/
    width: 60%;
    height: 50vh;
    border-radius: 2px;
    box-shadow: 0px 3px 13px 1px rgb( 0 0 0 /9%);
    margin-top: 5px;
   
}

.carousel-item{ /*contenedor de las imagenes*/
    width: 100%;
    height: 50vh;
}

.carousel-inner .carousel-item img{
    flex: 0 0 100%;
    transition: all 300ms;
    width: 100%;
    height: 50vh;
    object-fit:scale-down;
}

.carousel-inner .carousel-item img:hover{
    transform: scale(1.1);
}

.carousel-control-prev,
.carousel-control-next{
    background-color: #6aa577;
    width: 50px;
    height: 50px;
}

.carousel-control-prev{
    margin:60px 20px;
}


/*FOOTER*/

.parteAbajo{
    height: 40vh;
    margin : auto 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}

i{
    color:  #57A167;
    font-size: 20px;
}

/*CATEGORIAS*/

/*Botones*/


.boton-principal-alt{
    display: flex;
    margin-top: 8px;
    padding: 7px 16px;
    font-size: 1.2rem;
    font-weight: bold;
    color:#fff;
    cursor: pointer;
    line-height: 16px;
    background-color: unset;
    border: 0.1rem solid #fff;
    border-radius: 0.3rem;
    text-shadow: 2px 2px 2px #000000;
}

.boton-principal-alt:hover{
    color: #fff;
}

#topBtn{
        color: #57A167;
        border: none;
        cursor: pointer;
        padding: 15px;
        border-radius: 60px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        background-color: unset;
        
}

#topBtn:hover {
        background-color: #6aa577 ;
        transition:0.3s ease-in;
}

#topBtn i {
    font-size: 30px;
}

#topBtn i:hover{
    color: whitesmoke;
}

.categorias{
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.categorias div {
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.categorias div > * {
    z-index: 1;
    
}

.categorias div:nth-child(1) {
    background:url("Imagenes/TELAS/gasas/gasa-portobello1jpeg.jpeg") 50% 50%/cover no-repeat;
}

.categorias div:nth-child(2) {
    background: url("Imagenes/TELAS/voileclasico/tela-voile.png") 50% 50%/cover no-repeat;
}

.categorias div:nth-child(3) {
    background: url("Imagenes/TELAS/voiledehilo/voile-etamina-323-1.jpeg") 50% 50%/cover no-repeat;
}

.categorias div:nth-child(4) {
    background: url("Imagenes/TELAS/voiledelino/voile-de-lino-rustico-1033.jpeg") 50% 50%/cover no-repeat;
}

.categorias div:nth-child(5) {
    background: url("Imagenes/TELAS/blackout/tela-blackout.png") 50% 50%/cover no-repeat;
}

.categorias div:nth-child(6) {
    background: url("Imagenes/TELAS/jacquard/tapa-portada.PNG") 50% 50%/cover no-repeat;
}

.categorias div::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.categorias div:hover::after {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

iframe{
    width: 100%;
}

/*Imagenes de las telas*/

.fotos img{ /*imagenes*/
    flex: 0 0 100%;
    width: 100%;
    height: 40vh;
    transition: all 300ms;
    cursor: pointer;
}

.fotos img:hover{
    transform: scale(1.08)
}

/*al darle click a la img, se abre una caja en medio de la pantalla */

.ful-img{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.ful-img span{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: whitesmoke;
    cursor: pointer;
}

.ful-img img{
    width: 90%;
    max-width: 500px;
}




/*Ventana modal en blackout*/


.modal-container{
    height: 100vh;
    position: relative;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-content{
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background-image: url("./Imagenes/fondo-de-pantalla2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.modal-title{
    margin-top: 20px;
}

.modal-body{
    font-size: 18px;
    font-family:'Lato', sans-serif;


}

.close{
    position: absolute;
    top:5px;
    right:5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #c44a4a;
    color: #fff;
    line-height: 12.5px;
    cursor: pointer !important;
}

.cta{ 
    display: inline-block;
    padding: 7px 0;
    width: 100px;
    border: 1px solid green;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color:#030304;
    background-color:white;
    transition: 0.5s;
    margin: 20px 40px;

}

.cta:hover{
    background-color: #6aa577;
    color: whitesmoke;
}


/*MEDIR CORTINAS*/



.ventanas  div img{
    width: 100%;   
}


/*MEDIAS QUERIES*/

@media screen and (min-width: 768px){
    .categorias{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr)
    }
    .categorias div:nth-child(1) {
        -ms-grid-row-span: 4;
        grid-row: span 4;
    }
    .categorias div:nth-child(2) {
        -ms-grid-row-span: 2;
        grid-row: span 2;
    }
    .categorias div:nth-child(4) {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3/4;
        -ms-grid-row-span: 3;
        grid-row: span 3;
    }
    .categorias div:nth-child(5) {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3/4;
    }
}

@media screen and (max-width: 768px){
    .navbar-toggler{
        border: none;
    }

    .modal-content{
        width: 90%;
    }

    .navbar-nav{
        font-size: 16px;
        
    }
}